<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    @Styles.Render("~/Content/css")
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" />
</head>
<body class="fix-header fix-sidebar card-no-border">
    <div id="main-wrapper">
        @{
            Html.RenderPartial("_LayoutHeaderAdmin");
        }
        @{
            Html.RenderPartial("_LayoutSideBarAdmin");
        }
        <div class="page-wrapper" style="min-height: 700px;margin-top: 70px; margin-left: 270px;">
            <div class="container-fluid">
                @*@{
                    Html.RenderPartial("_LayoutPageTitleAdmin");ViewBag.Title = "BookManage";
                }*@
                @RenderBody()
                <footer class="footer">
                    <p>&copy; @DateTime.Now.Year - My Book Management</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/kit")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/wave")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

